<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<header class="header-desktop" th:fragment="headerDesktop">
  <div class="section__content section__content--p30">
    <div class="container-fluid">
      <div class="header-wrap">
        <form class="form-header" action="" method="POST">
        </form>
        <div class="header-button" id="header-button">
          <div class="account-wrap" style="">
            <div class="account-item clearfix js-item-menu">
              <div class="image">
                <img th:src="@{'/upload/'+ ${session.user.imageUrl}}" alt="John Doe"/>
              </div>
              <div class="content">
                <a class="js-acc-btn" href="#" th:text="${session.user.fullName}"></a>
              </div>
              <div class="account-dropdown js-dropdown">
                <div class="info clearfix">
                  <div class="image">
                    <a href="#">
                      <img th:src="@{'/upload/'+ ${session.user.imageUrl}}" alt="John Doe"
                      />
                    </a>
                  </div>
                  <div class="content">
                    <h5 class="name">
                      <a href="#"></a>
                    </h5>
                    <span class="email" sec:authentication="name"></span>
                  </div>
                </div>
                <div class="account-dropdown__body">
                  <div class="account-dropdown__item">
                    <a href="#">
                      <i class="zmdi zmdi-account"></i>Account</a
                    >
                  </div>
                  <div class="account-dropdown__item">
                    <a href="#">
                      <i class="zmdi zmdi-settings"></i>Setting</a
                    >
                  </div>
                </div>
                <div class="account-dropdown__footer">
                  <a th:href="@{/logout}"> <i class="zmdi zmdi-power"></i>Logout</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
</body>
</html>