<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="linkHeader">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="/assets/back-end/css/font-face.css" rel="stylesheet" media="all"/>
<!--    <link-->
<!--            href="/assets/back-end/vendor/font-awesome-4.7/css/font-awesome.min.css"-->
<!--            rel="stylesheet"-->
<!--            media="all"-->
<!--    />-->
<!--    <link-->
<!--            href="/assets/back-end/vendor/font-awesome-5/css/fontawesome-all.min.css"-->
<!--            rel="stylesheet"-->
<!--            media="all"-->
<!--    />-->
    <script src="https://kit.fontawesome.com/9adb91816f.js" crossorigin="anonymous"></script>
    <link
            href="/assets/back-end/vendor/mdi-font/css/material-design-iconic-font.min.css"
            rel="stylesheet"
            media="all"
    />

    <!-- Bootstrap CSS-->
    <link
            href="/assets/back-end/vendor/bootstrap-4.1/bootstrap.min.css"
            rel="stylesheet"
            media="all"
    />

    <!-- Vendor CSS-->
    <link
            href="/assets/back-end/vendor/animsition/animsition.min.css"
            rel="stylesheet"
            media="all"
    />
    <link
            href="/assets/back-end/vendor/bootstrap-progressbar/bootstrap-progressbar-3.3.4.min.css"
            rel="stylesheet"
            media="all"
    />
    <link href="/assets/back-end/vendor/wow/animate.css" rel="stylesheet" media="all"/>
    <link
            href="/assets/back-end/vendor/css-hamburgers/hamburgers.min.css"
            rel="stylesheet"
            media="all"
    />
    <link href="/assets/back-end/vendor/slick/slick.css" rel="stylesheet" media="all"/>
    <link href="/assets/back-end/vendor/select2/select2.min.css" rel="stylesheet" media="all"/>
    <link
            href="/assets/back-end/vendor/perfect-scrollbar/perfect-scrollbar.css"
            rel="stylesheet"
            media="all"
    />

    <!-- Main CSS-->
    <link href="/assets/back-end/css/theme.css" rel="stylesheet" media="all"/>
    <link href="/assets/back-end/css/custom.css" rel="stylesheet" media="all"/>

<!--    toastr-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" integrity="sha512-vKMx8UnXk60zUwyUnUPM3HbQo8QfmNx7+ltw8Pm5zLusl1XIfwcxo8DbWCqMGKaWeNxWA8yrx5v3SaVpMvR3CA==" crossorigin="anonymous" />
</th:block>


<body>

<th:block th:fragment="script">
    <!-- Jquery JS-->
    <script src="/assets/back-end/vendor/jquery-3.2.1.min.js"></script>
    <!-- Bootstrap JS-->
    <script src="/assets/back-end/vendor/bootstrap-4.1/popper.min.js"></script>
    <script src="/assets/back-end/vendor/bootstrap-4.1/bootstrap.min.js"></script>
    <!-- Vendor JS       -->
    <script src="/assets/back-end/vendor/slick/slick.min.js"></script>
    <script src="/assets/back-end/vendor/wow/wow.min.js"></script>
    <script src="/assets/back-end/vendor/animsition/animsition.min.js"></script>
    <script src="/assets/back-end/vendor/bootstrap-progressbar/bootstrap-progressbar.min.js"></script>
    <script src="/assets/back-end/vendor/counter-up/jquery.waypoints.min.js"></script>
    <script src="/assets/back-end/vendor/counter-up/jquery.counterup.min.js"></script>
    <script src="/assets/back-end/vendor/circle-progress/circle-progress.min.js"></script>
    <script src="/assets/back-end/vendor/perfect-scrollbar/perfect-scrollbar.js"></script>
    <script src="/assets/back-end/vendor/chartjs/Chart.bundle.min.js"></script>
    <script src="/assets/back-end/vendor/select2/select2.min.js"></script>

    <!-- Main JS-->
    <script src="/assets/back-end/js/main.js"></script>

<!--    toastr-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js" integrity="sha512-VEd+nq25CkR676O+pLBnDW09R7VQX9Mdiij052gVCp5yVH3jGtH70Ho/UUv4mJDsEdTvqRCFZg0NKGiojGnUCw==" crossorigin="anonymous"></script>

    <script>
        const mess = document.getElementById("message").value;
        if(mess != ""){
            toastr.success(mess, 'message');
        }

    </script>
</th:block>
</body>
</html>
<!-- end document-->
