<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<body>
<aside class="menu-sidebar d-none d-lg-block" th:fragment="sideBar">
    <div class="logo">
        <a th:href="@{/product}">
            <img src="/assets/back-end/images/icon/logo.png" alt="Cool Admin"/>
        </a>
    </div>

    <div class="menu-sidebar__content js-scrollbar1">
        <nav class="navbar-sidebar">
            <ul class="list-unstyled navbar__list">
                <li>
                    <a th:href="@{/product}">
                        <i class="fas fa-table"></i>Product</a>
                </li>
                <li>
                    <a th:href="@{/category}">
                        <i class="fas fa-table"></i>Category</a>
                </li>
                <li>
                    <a th:href="@{/tag}">
                        <i class="fas fa-table"></i>Tag</a>
                </li>
                <li>
                    <a th:href="@{/order}">
                        <i class="fas fa-table"></i>Order</a>
                </li>
                <li  sec:authorize="hasAuthority('admin')">
                    <a th:href="@{/user}">
                        <i class="fas fa-table"></i>User</a>
                </li>
                <li class="has-sub">
                    <a class="js-arrow open" href="#">
                        <i class="fa fa-trash-o"></i>Recycle Bin</a>
                    <ul class="list-unstyled navbar__sub-list js-sub-list" style="display: block;">
                        <li>
                            <a th:href="@{/recycle/product}">
                                <i class="fas fa-table"></i>Product</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>