<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Category Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>

<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="ml-3 mb-4">
                            <a class="btn btn-primary" th:href="@{/category}">Back
                            </a>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->

                            <div class="card">
                                <form th:action="@{/category/update}" th:object="${category}" method="post"
                                      class="form-horizontal">
                                    <div class="card-header">
                                        <strong>Edit Form</strong> Category
                                    </div>
                                    <div class="card-body card-block">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="text-input" class=" form-control-label">Name
                                                    Category</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="text-input"
                                                       placeholder="Name category" class="form-control"
                                                       th:field="*{name}">
                                                <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</span>
                                                <small class="form-text text-muted">Không được bỏ trống</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="email-input" class=" form-control-label">Description</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="email-input"
                                                       placeholder="Enter desciption" class="form-control"
                                                       th:field="*{description}">
                                                <small class="help-block form-text">Please enter your
                                                    Description</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="password-input" class=" form-control-label">image</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="password-input"
                                                       placeholder="image link" class="form-control"
                                                       th:field="*{image}">
                                                <small class="help-block form-text">Please enter a image</small>
                                            </div>
                                        </div>

                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm" value="Submit">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <!--                                        <button type="reset" class="btn btn-danger btn-sm">-->
                                        <!--                                            <i class="fa fa-ban"></i> Reset-->
                                        <!--                                        </button>-->
                                    </div>
                                </form>
                            </div>
                            <!--                            </div>-->
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-md-12">
                            <div class="copyright">
                                <p>
                                    Copyright © 2018 Colorlib. All rights reserved. Template
                                    by <a href="../bootstrap/https://colorlib.com">Colorlib</a>.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>