<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Order Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">

                        <input type="hidden" th:value="${mess}" id="message">
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <div class="table-data__tool">
                                <div class="table-data__tool-left">
                                </div>
                                <div class="table-data__tool-left col-4">
                                    <a class="au-btn au-btn-icon au-btn--green"
                                       th:href="@{/order/create}">
                                        <i class="zmdi zmdi-plus"></i>add item
                                    </a>
                                </div>
                                <div class="table-data__tool-right col-8">
                                    <form class="form-header" th:action="@{/order/search}">
                                        <input class="au-input au-input--xl" type="text" name="keyword" placeholder="Search for name order...">
                                        <button class="au-btn--submit" type="submit">
                                            <i class="zmdi zmdi-search"></i>
                                        </button>
                                    </form>
                                </div>
                            </div>
                            <div class="table-responsive table-responsive-data2">
                                <table class="table table-data2">
                                    <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th>full Name</th>
                                        <th>email</th>
                                        <th>phone</th>
                                        <th>Date</th>
                                        <th>Payment Method</th>
                                        <th>Status</th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr class="tr-shadow" th:each="order : ${orders}">
                                        <td th:text="${order.id}"></td>
                                        <td th:text="${order.fullName}"></td>
                                        <td th:text="${order.email}"></td>
                                        <td th:text="${order.phone}"></td>
                                        <td th:text="${order.createDate}"></td>
                                        <td th:text="${order.paymentMethod}"></td>
                                        <td th:if="${order.status ==1}" th:text="'Đã đặt, đang chờ xác nhận'"></td>
                                        <td th:if="${order.status ==2}" th:text="'Xác nhận thành công, chờ nhận hàng'"></td>
                                        <td th:if="${order.status ==3}" th:text="'Đã hủy'"></td>
                                        <td th:if="${order.status ==4}" th:text="'Giao hàng thành công'"></td>
                                        <td>
                                            <div class="table-data-feature">
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="view"
                                                        th:href="@{/order/view/{id}(id = ${order.id})}"
                                                >
                                                    <i class="fas fa-eye"></i>
                                                </a>
                                                <a
                                                        class="item"
                                                        data-toggle="tooltip"
                                                        data-placement="top"
                                                        title="Edit"
                                                        th:href="@{/order/update/{id}(id = ${order.id})}"
                                                >
                                                    <i class="zmdi zmdi-edit"></i>
                                                </a>
                                                <a href="#" th:onclick="|deleteNote(${order.id})|"
                                                   class="item"
                                                   data-toggle="tooltip"
                                                   data-placement="top"
                                                   title="Delete">
                                                    <i class="zmdi zmdi-delete"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    <tr class="spacer"></tr>
                                    </tbody>
                                </table>
                                <nav class="mt-3" aria-label="Search results pages">
                                    <ul class="pagination">
                                        <li class="page-item">
                                            <a class="page-link" th:href="@{'/order'(page=${orders.number - 1})}"
                                               th:if="${orders.hasPrevious()}">Previous</a>
                                        </li>

                                        <li class="page-item " th:each="pIndex : ${#numbers.sequence(0,orders.totalPages -1)}">
                                            <th:block th:if="${orders.number == pIndex}">
                                                <a style="background-color: #c6c8ca" class="page-link" th:href="@{'/order'(page=${pIndex})}" th:text="${pIndex +1}"></a>
                                            </th:block>
                                            <th:block th:if="${orders.number != pIndex}">
                                                <a class="page-link" th:href="@{'/order'(page=${pIndex})}" th:text="${pIndex +1}"></a>
                                            </th:block>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link"
                                               th:href="@{'/order'(page=${orders.number + 1})}"
                                               th:if="${orders.hasNext()}"
                                            >Next</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function deleteNote(id) {
            let showMessage = confirm("Do you want to delete ?");
            if (showMessage) {
                alert("Delete successfully!")
                window.location = "/order/delete/" + id;
            } else {
            }
        }
    </script>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>