<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>order Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>
<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->
    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->
    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="ml-3 mb-4">
                            <a type="reset" class="btn btn-primary btn-sm" th:href="@{/order}">Back
                            </a>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <!--                            <div class="col-lg-6">-->
                            <div class="card">
                                <form th:action="@{/order/create}" th:object="${order}" method="post"
                                      class="form-horizontal">
                                    <div class="card-header">
                                        <strong>Add Form</strong> order
                                    </div>
                                    <div class="card-body card-block">
                                        <input type="hidden" th:field="*{id}">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="address1" class=" form-control-label">Address 1</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="address1"
                                                       placeholder="address1" class="form-control"
                                                       th:field="*{address1}">
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('address1')}" th:errors="*{address1}">Name Error</small>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="address2" class=" form-control-label">Address 2</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="address2"
                                                       placeholder="address2" class="form-control"
                                                       th:field="*{address2}">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="city" class=" form-control-label">city</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select th:field="*{province.id}" id="city" class="form-control">
                                                    <option th:each="pro: ${provinces}" th:value="${pro.id}"
                                                            th:text="${pro.name}">
                                                    </option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="companyName" class=" form-control-label">Company
                                                    Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="companyName"
                                                       placeholder="city" class="form-control"
                                                       th:field="*{companyName}">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="email" class=" form-control-label">Email</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="email" id="email"
                                                       placeholder="email" class="form-control"
                                                       th:field="*{email}">
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></small>

                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="firstName" class=" form-control-label">Full Name</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="text" id="firstName"
                                                       placeholder="firstName" class="form-control"
                                                       th:field="*{fullName}">
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fullName')}" th:errors="*{fullName}"></small>
                                            </div>
                                        </div>

                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="note" class=" form-control-label">Note</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <textarea id="note" class="form-control"
                                                          th:field="*{note}">
                                                </textarea>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="paymentMethod" class=" form-control-label">Payment
                                                    Method</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <select th:field="${order.paymentMethod}" id="paymentMethod" class="form-control">
                                                    <option th:value="'Cash on delivery'" th:text="'Cash on delivery'"></option>
                                                    <option th:value="'Internet Banking'" th:text="'Internet Banking'"></option>
                                                    <option th:value="'Debit Card/Credit Card'" th:text="'Debit Card/Credit Card'"></option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label for="phone" class=" form-control-label">phone</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <input type="number" id="phone"
                                                       placeholder="phone" class="form-control"
                                                       th:field="*{phone}">
                                                <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></small>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button type="submit" class="btn btn-primary btn-sm">
                                            <i class="fa fa-dot-circle-o"></i> Submit
                                        </button>
                                        <button type="reset" class="btn btn-danger btn-sm">
                                            <i class="fa fa-ban"></i> Reset
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <!-- END DATA TABLE -->
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>