<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tag Table</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>

<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">

                        <input type="hidden" th:value="${mess}" id="message">
                    </div>
                    <div class="row">
                        <!-- DATA TABLE -->
                        <div class="table-data__tool">
                            <div class="table-data__tool-left">
                            </div>
                            <div class="table-data__tool-left col-4">
                                <a class="au-btn au-btn-icon au-btn--green"
                                   th:href="@{/tag/create}">
                                    <i class="zmdi zmdi-plus"></i>add item
                                </a>
                            </div>
                            <div class="table-data__tool-right col-8">
                                <form class="form-header" th:action="@{/tag/search}">
                                    <input class="au-input au-input--xl" type="text" name="keyword" placeholder="Search for name tag...">
                                    <button class="au-btn--submit" type="submit">
                                        <i class="zmdi zmdi-search"></i>
                                    </button>
                                </form>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-data2">
                            <table class="table table-data2">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Name</th>
                                    <th>action</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr class="tr-shadow" th:each="tag :${tags}">
                                    <td th:text="${tag.id}"></td>
                                    <td th:text="${tag.name}"></td>
                                    <td>
                                        <div class="table-data-feature">
                                            <a
                                                    class="item"
                                                    data-toggle="tooltip"
                                                    data-placement="top"
                                                    title="Edit"
                                                    th:href="@{/tag/update/{id}(id = ${tag.id})}"
                                            >
                                                <i class="zmdi zmdi-edit"></i>
                                            </a>
                                            <a href="#" th:onclick="|deleteNote(${tag.id})|"
                                               class="item"
                                               data-toggle="tooltip"
                                               data-placement="top"
                                               title="Delete">
                                                <i class="zmdi zmdi-delete"></i></a>
                                        </div>
                                    </td>
                                </tr>
                                <tr class="spacer"></tr>
                                </tbody>
                            </table>
                            <nav class="mt-3" aria-label="Search results pages">
                                <ul class="pagination">
                                    <li class="page-item">
                                        <a class="page-link" th:href="@{'/tag'(page=${tags.number - 1})}"
                                           th:if="${tags.hasPrevious()}">Previous</a>
                                    </li>

                                    <li class="page-item "
                                        th:each="pIndex : ${#numbers.sequence(0,tags.totalPages -1)}">
                                        <th:block th:if="${tags.number == pIndex}">
                                            <a style="background-color: #c6c8ca" class="page-link"
                                               th:href="@{'/tag'(page=${pIndex})}" th:text="${pIndex +1}"></a>
                                        </th:block>
                                        <th:block th:if="${tags.number != pIndex}">
                                            <a class="page-link" th:href="@{'/tag'(page=${pIndex})}"
                                               th:text="${pIndex +1}"></a>
                                        </th:block>
                                    </li>

                                    <li class="page-item">
                                        <a class="page-link"
                                           th:href="@{'/tag'(page=${tags.number + 1})}"
                                           th:if="${tags.hasNext()}"
                                        >Next</a>
                                    </li>
                                </ul>
                            </nav>
                            <!--                                <div>-->
                            <!--                                    <a th:href="@{'/tag'(page=${tags.number - 1})}" th:if="${tags.hasPrevious()}">Previous</a>-->
                            <!--                                    <span th:text="${tags.number + 1}"></span>/<span-->
                            <!--                                        th:text="${tags.totalPages}"></span>-->
                            <!--                                    <a th:href="@{'/tag'(page=${tags.number + 1})}"-->
                            <!--                                       th:if="${tags.hasNext()}">Next</a>-->
                            <!--                                </div>-->

                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        function deleteNote(id) {
            let showMessage = confirm("Do you want to delete ?");
            if (showMessage) {
                alert("Delete successfully!")
                window.location = "/tag/delete/" + id;
            } else {
            }
        }
    </script>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>