<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<th:block th:fragment="sidebar">
    <div class="sidebar nobottommargin clearfix">
        <div class="sidebar-widgets-wrap">
            <div class="widget widget_links clearfix">
                <h4>Shop Categories</h4>
                <ul th:each="category :${findAllCategories}">
                    <li><a th:href="@{/shop/category/{id}(id = ${category.id})}"
                           th:text="${category.name}"></a></li>
                </ul>
            </div>
            <div class="widget clearfix">
                <h4>Recent Items</h4>
                <div id="post-list-footer">
                    <th:block th:each="product : ${findTop4ByOrderByRatingDesc}">
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}">
                                    <div th:style="'background-image:url(' + ${product.image} + '); height: 38px;background-position: center;background-size: cover;'"
                                         alt="Slim Fit Chinos">
                                    </div>
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                           th:text="${product.nameProduct}">
                                    </a>
                                    </h4>
                                </div>
                                <ul class="entry-meta">
                                    <li class="color" th:text="${product.price}">$</li>
                                    <li>
                                        <th:block th:if="${product.rating == 1}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 2}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 3}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 4}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 5}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                        </th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="widget clearfix">
                <h4>Last Viewed Items</h4>
                <div class="widget-last-view">
                    <th:block th:each="product : ${findTop4ByOrderByIdDesc}">
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}">
                                    <div th:style="'background-image:url(' + ${product.image} + '); height: 38px;background-position: center;background-size: cover;'"
                                         alt="Slim Fit Chinos">
                                    </div>
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                           th:text="${product.nameProduct}">
                                    </a>
                                    </h4>
                                </div>
                                <ul class="entry-meta">
                                    <li class="color" th:text="${product.price}">$</li>
                                    <li>
                                        <th:block th:if="${product.rating == 1}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 2}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 3}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 4}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 5}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                        </th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>
            </div>
            <div class="widget clearfix">
                <h4>Popular Items</h4>
                <div id="Popular-item">
                    <th:block th:each="product : ${findTop4ByDeletedIsFalseOrderByPriceAsc}">
                        <div class="spost clearfix">
                            <div class="entry-image">
                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}">
                                    <div th:style="'background-image:url(' + ${product.image} + '); height: 38px;background-position: center;background-size: cover;'"
                                         alt="Slim Fit Chinos">

                                    </div>
                                </a>
                            </div>
                            <div class="entry-c">
                                <div class="entry-title">
                                    <h4><a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                           th:text="${product.nameProduct}">

                                    </a>
                                    </h4>
                                </div>
                                <ul class="entry-meta">
                                    <li class="color" th:text="${product.price}">$</li>
                                    <li>

                                        <th:block th:if="${product.rating == 1}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 2}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 3}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 4}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star-empty"></i>
                                        </th:block>
                                        <th:block th:if="${product.rating == 5}">
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                            <i class="icon-star3"></i>
                                        </th:block>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </th:block>
                </div>

            </div>

            <div class="widget clearfix">
                <iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2FEnvato&amp;width=240&amp;height=290&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true&amp;appId=499481203443583"
                        scrolling="no" frameborder="0"
                        style="border:none; overflow:hidden; width:240px; height:290px;"
                        allowTransparency="true"></iframe>
            </div>
        </div>
    </div>
</th:block>
</body>
</html>