<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add Category</title>
    <th:block th:replace="back-end/layout/link::linkHeader">
    </th:block>
</head>
<body>

<div class="page-wrapper">
    <!-- HEADER MOBILE-->
    <th:block th:replace="back-end/layout/header-mobile::headerMobile">
    </th:block>
    <!-- END HEADER MOBILE-->

    <!-- MENU SIDEBAR-->
    <th:block th:replace="back-end/layout/side-bar::sideBar">
    </th:block>
    <!-- END MENU SIDEBAR-->

    <!-- PAGE CONTAINER-->
    <div class="page-container">
        <!-- HEADER DESKTOP-->
        <th:block th:replace="back-end/layout/header::headerDesktop">
        </th:block>
        <!-- END HEADER DESKTOP-->

        <!-- MAIN CONTENT-->
        <div class="main-content">
            <div class="section__content section__content--p30">
                <div class="container-fluid">
                    <div class="row">
                        <div class="ml-3 mb-4">
                            <a class="btn btn-primary" th:href="@{/user}">Back
                            </a>
                        </div>
                        <div class="col-md-12">
                            <!-- DATA TABLE -->
                            <div class="card">
                                <div class="card-header">
                                    <strong>View</strong> User
                                </div>
                                <form th:object="${user}" class="form-horizontal">
                                    <div class="card-body card-block">
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">ID</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div id="id-input"
                                                     th:text="*{id}"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">email :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div th:text="*{email}"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">full name :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div th:text="*{fullName}"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">role :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div th:text="*{role}"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">Image :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <img th:src="@{/upload/__${user.imageUrl}__}" alt="user img" style="max-height: 200px">
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">description :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div th:text="*{description}"></div>
                                            </div>
                                        </div>
                                        <div class="row form-group">
                                            <div class="col col-md-3">
                                                <label class=" form-control-label">about :</label>
                                            </div>
                                            <div class="col-12 col-md-9">
                                                <div th:text="*{about}"></div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <a class="btn btn-primary" th:href="@{/user}">Back
                                        </a>
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- END DATA TABLE -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<th:block th:replace="back-end/layout/link::script">

</th:block>
</body>
</html>