<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>

    <title> Canvas</title>
    <th:block th:replace="front-end/layout/link::linkHeaders">
    </th:block>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <th:block th:replace="front-end/layout/nav-bar :: nav-bar">
    </th:block><!-- #header end -->

    <!-- Page Title
    ============================================= -->
    <section id="page-title">

        <div class="container clearfix">
            <h1>Checkout</h1>
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li><a href="#">Shop</a></li>
                <li class="active">Checkout</li>
            </ol>
        </div>

    </section><!-- #page-title end -->

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="row clearfix">
                    <form id="shipping-form" th:action="@{/checkout/addOrder}" th:object="${order}" method="post">
                        <input type="hidden" th:field="*{id}">
                        <div class="col-md-6">
                            <h3 class="">Shipping Address</h3>
                            <div class="col_full">
                                <label for="shipping-form-name">Name :</label>
                                <input type="text" id="shipping-form-name"
                                       th:field="*{fullName}"
                                       class="sm-form-control"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('fullName')}"
                                       th:errors="*{fullName}"></small>
                            </div>
                            <div class="clear"></div>
                            <div class="col_full">
                                <label for="shipping-form-companyname">Company Name:</label>
                                <input type="text" id="shipping-form-companyname"
                                       th:field="*{companyName}"
                                       class="sm-form-control"/>
                            </div>
                            <div class="col_full">
                                <label for="shipping-form-address">Address:</label>
                                <input type="text" id="shipping-form-address"
                                       th:field="*{address1}"
                                       class="sm-form-control"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('address1')}"
                                       th:errors="*{address1}"></small>
                            </div>
                            <div class="col_full">
                                <input type="text" id="shipping-form-address2"
                                       th:field="*{address2}"
                                       class="sm-form-control"/>
                            </div>
                            <div class="col_full">
                                <label>City</label>
                                <select class="sm-form-control" th:field="*{province.id}">
                                    <option th:each="pro: ${provinces}" th:value="${pro.id}"
                                            th:text="${pro.name}"></option>
                                </select>
                            </div>
                            <div class="col_full">
                                <label for="shipping-form-message">Notes <small>*</small></label>
                                <textarea class="sm-form-control" id="shipping-form-message"
                                          th:field="*{note}"
                                          rows="6" cols="30"></textarea>
                            </div>
                            <div class="col_half">
                                <label for="billing-form-email">Email Address:</label>
                                <input type="email" id="billing-form-email"
                                       th:field="*{email}"
                                       class="sm-form-control"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('email')}"
                                       th:errors="*{email}"></small>

                            </div>
                            <div class="col_half col_last">
                                <label for="billing-form-phone">Phone:</label>
                                <input type="text" id="billing-form-phone"
                                       th:field="*{phone}"
                                       class="sm-form-control"/>
                                <small class="form-text text-danger" th:if="${#fields.hasErrors('phone')}"
                                       th:errors="*{phone}"></small>

                            </div>
                        </div>
                        <th:block th:if="${session.order!=null}">
                            <div class="col-md-6">
                                <div class="table-responsive clearfix">
                                    <h4>Your Orders</h4>
                                    <table class="table cart">
                                        <thead>
                                        <tr>
                                            <th class="cart-product-thumbnail">&nbsp;</th>
                                            <th class="cart-product-name">Product</th>
                                            <th class="cart-product-quantity">Quantity</th>
                                            <th class="cart-product-subtotal">Total</th>
                                        </tr>
                                        </thead>
                                        <tbody>
                                        <tr class="cart_item" th:each="cart: ${session.order.orderDetails}">
                                            <td class="cart-product-thumbnail">
                                                <a href="#"><img width="64" height="64"
                                                                 th:src="${cart.product.image}"
                                                                 th:alt="${cart.product.nameProduct}"></a>
                                            </td>

                                            <td class="cart-product-name">
                                                <a href="#" th:text="${cart.product.nameProduct}"></a>
                                            </td>

                                            <td class="cart-product-quantity">
                                                <div class="quantity clearfix" th:text="${cart.quantity}">
                                                </div>
                                            </td>

                                            <td class="cart-product-subtotal">
                                                <span class="amount" th:text="${cart.priceOder}"></span>
                                            </td>
                                        </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="table-responsive">
                                    <h4>Cart Totals</h4>
                                    <table class="table cart">
                                        <tbody>
                                        <tr class="cart_item">
                                            <td class="notopborder cart-product-name">
                                                <strong>Cart Subtotal</strong>
                                            </td>
                                            <td class="notopborder cart-product-name">
                                                <span class="amount" th:text="${session.order.totalPrice}"></span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Shipping</strong>
                                            </td>
                                            <td class="cart-product-name">
                                                <span class="amount">Free Delivery</span>
                                            </td>
                                        </tr>
                                        <tr class="cart_item">
                                            <td class="cart-product-name">
                                                <strong>Total</strong>
                                            </td>
                                            <td class="cart-product-name">
                                                <span class="amount color lead">
                                                    <strong th:text="${session.order.totalPrice}"></strong></span>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                                <div class="accordion clearfix">
                                    <div style="display: none">
                                        <input id="payMethod1" checked type="radio" th:field="*{paymentMethod}"
                                               th:value="'Cash on delivery'">
                                        <input id="payMethod2" type="radio" th:field="*{paymentMethod}"
                                               th:value="'Internet Banking'">
                                        <input id="payMethod3" type="radio" th:field="*{paymentMethod}"
                                               th:value="'Debit Card/Credit Card'">
                                    </div>
                                    <div id="payMethod1div" class="acctitle"><i
                                            class="acc-closed icon-ok-circle"></i><i
                                            class="acc-open icon-remove-circle"></i>Cash on delivery
                                    </div>
                                    <div class="acc_content clearfix">Donec sed odio dui. Nulla vitae elit libero, a
                                        pharetra
                                        augue. Nullam id dolor id nibh ultricies vehicula ut id elit. Integer posuere
                                        erat a
                                        ante venenatis dapibus posuere velit aliquet.
                                    </div>
                                    <div id="payMethod2div" class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                            class="acc-open icon-remove-circle"></i>Internet Banking
                                    </div>
                                    <div class="acc_content clearfix">Integer posuere erat a ante venenatis dapibus
                                        posuere
                                        velit aliquet. Duis mollis, est non commodo luctus. Aenean lacinia bibendum
                                        nulla
                                        sed
                                        consectetur. Cras mattis consectetur purus sit amet fermentum.
                                    </div>
                                    <div id="payMethod3div" class="acctitle"><i class="acc-closed icon-ok-circle"></i><i
                                            class="acc-open icon-remove-circle"></i>Debit Card/Credit Card
                                    </div>
                                    <div class="acc_content clearfix">Nullam id dolor id nibh ultricies vehicula ut id
                                        elit.
                                        Integer posuere erat a ante venenatis dapibus posuere velit aliquet. Duis
                                        mollis,
                                        est
                                        non commodo luctus. Aenean lacinia bibendum nulla sed consectetur.
                                    </div>
                                </div>
                                <button type="submit" class="button button-3d fright">Place Order</button>
                            </div>
                        </th:block>
                    </form>
                </div>
            </div>
        </div>
    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">
        <div class="container">
            <!-- Footer Widgets
            ============================================= -->
            <div class="footer-widgets-wrap clearfix">
                <div class="col_two_third">
                    <div class="col_one_third">
                        <div class="widget clearfix">
                            <img src="/assets/front-end/images/footer-widget-logo.png" alt="" class="footer-logo">
                            <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp;
                                <strong>Flexible</strong> Design Standards.</p>
                            <div style="background: url('/assets/front-end/images/world-map.png') no-repeat center center; background-size: 100%;">
                                <address>
                                    <strong>Headquarters:</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                </address>
                                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                                <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                                <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                            </div>
                        </div>
                    </div>
                    <div class="col_one_third">
                        <div class="widget widget_links clearfix">
                            <h4>Blogroll</h4>
                            <ul>
                                <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                                <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                                <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                                <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                                <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                                <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                                <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col_one_third col_last">
                        <div class="widget clearfix">
                            <h4>Recent Posts</h4>
                            <div id="post-list-footer">
                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col_one_third col_last">

                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        <div class="row">

                            <div class="col-md-6 bottommargin-sm">
                                <div class="counter counter-small"><span data-from="50" data-to="15065421"
                                                                         data-refresh-interval="80" data-speed="3000"
                                                                         data-comma="true"></span></div>
                                <h5 class="nobottommargin">Total Downloads</h5>
                            </div>

                            <div class="col-md-6 bottommargin-sm">
                                <div class="counter counter-small"><span data-from="100" data-to="18465"
                                                                         data-refresh-interval="50" data-speed="2000"
                                                                         data-comma="true"></span></div>
                                <h5 class="nobottommargin">Clients</h5>
                            </div>

                        </div>

                    </div>

                    <div class="widget subscribe-widget clearfix">
                        <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp;
                            Inside Scoops:</h5>
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post"
                              class="nobottommargin">
                            <div class="input-group divcenter">
                                <span class="input-group-addon"><i class="icon-email2"></i></span>
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email"
                                       class="form-control required email" placeholder="Enter your Email">
                                <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                            </div>
                        </form>
                    </div>

                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        <div class="row">

                            <div class="col-md-6 clearfix bottommargin-sm">
                                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin"
                                   style="margin-right: 10px;">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on
                                    Facebook</small></a>
                            </div>
                            <div class="col-md-6 clearfix">
                                <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin"
                                   style="margin-right: 10px;">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#"><small
                                        style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS
                                    Feeds</small></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- .footer-widgets-wrap end -->

        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i
                        class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i
                        class="icon-skype2"></i> CanvasOnSkype
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->

<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>

<th:block th:replace="front-end/layout/link::scripts">
</th:block>
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function () {

        var apiRevoSlider = tpj('.tp-banner').show().revolution(
            {
                sliderType: "standard",
                jsFileLocation: "include/rs-plugin/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {},
                responsiveLevels: [1200, 992, 768, 480, 320],
                gridwidth: 1140,
                gridheight: 500,
                lazyType: "none",
                shadow: 0,
                spinner: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    disableFocusListener: false,
                },
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "ares",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
                }
            });
        apiRevoSlider.bind("revolution.slide.onloaded", function (e) {
            SEMICOLON.slider.sliderParallaxDimensions();
        });
    }); //ready
</script>
<script>
    let payMethod1 = document.getElementById("payMethod1");
    let payMethod2 = document.getElementById("payMethod2");
    let payMethod3 = document.getElementById("payMethod3");
    let payMethod1div = document.getElementById("payMethod1div");
    let payMethod2div = document.getElementById("payMethod2div");
    let payMethod3div = document.getElementById("payMethod3div");
    payMethod1.checked = true;

    function selectPayMethod1() {
        payMethod1.checked = true;
    }

    payMethod1div.addEventListener("click", selectPayMethod1);

    function selectPayMethod2() {
        payMethod2.checked = true;
    }

    payMethod2div.addEventListener("click", selectPayMethod2);

    function selectPayMethod3() {
        payMethod3.checked = true;
    }

    payMethod3div.addEventListener("click", selectPayMethod3);

</script>
<script>

</script>

</body>
</html>