<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" dir="ltr">
<head>
    <title>Home - Shop | Canvas</title>
    <th:block th:replace="front-end/layout/link::linkHeaders">
    </th:block>
    <style>

        .revo-slider-emphasis-text {
            font-size: 58px;
            font-weight: 700;
            letter-spacing: 1px;
            font-family: 'Raleway', sans-serif;
            padding: 15px 20px;
            border-top: 2px solid #FFF;
            border-bottom: 2px solid #FFF;
        }

        .revo-slider-desc-text {
            font-size: 20px;
            font-family: 'Lato', sans-serif;
            width: 650px;
            text-align: center;
            line-height: 1.5;
        }

        .revo-slider-caps-text {
            font-size: 16px;
            font-weight: 400;
            letter-spacing: 3px;
            font-family: 'Raleway', sans-serif;
        }

        .tp-video-play-button {
            display: none !important;
        }

        .tp-caption {
            white-space: nowrap;
        }

    </style>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

    <!-- Header
    ============================================= -->
    <th:block th:replace="front-end/layout/nav-bar::nav-bar">
    </th:block><!-- #header end -->

    <section id="slider" class="slider-parallax revslider-wrap ohidden clearfix">

        <!--
        #################################
            - THEMEPUNCH BANNER -
        #################################
        -->
        <div class="tp-banner-container">
            <div class="tp-banner">
                <ul>    <!-- SLIDE  -->
                    <li data-transition="fade" data-slotamount="1" data-masterspeed="1500" data-delay="10000"
                        data-saveperformance="off" data-title="Latest Collections" style="background-color: #F6F6F6;">
                        <!-- LAYERS -->
                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="100"
                             data-y="50"
                             data-customin="x:-200;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><img
                                src="/assets/front-end/images/slider/rev/shop/girl1.jpg" alt="Girl"></div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="570"
                             data-y="75"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333;">Get your Shopping Bags Ready
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                             data-x="570"
                             data-y="105"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; max-width: 430px; line-height: 1.15;">
                            Latest Fashion<br>Collections
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                             data-x="570"
                             data-y="275"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style=" color: #333; max-width: 550px; white-space: normal;">We have created a Design that
                            looks Awesome, performs Brilliantly &amp; senses Orientations.
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="570"
                             data-y="375"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style="">
                            <a th:href="@{/shop}"
                               class="button button-border button-large button-rounded tright nomargin"><span>Start Shopping</span>
                            <i class="icon-angle-right"></i></a></div>

                    </li>
                    <!-- SLIDE  -->
                    <li data-transition="slideup" data-slotamount="1" data-masterspeed="1500" data-delay="10000"
                        data-saveperformance="off" data-title="Messenger bags" style="background-color: #E9E8E3;">
                        <!-- LAYERS -->

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="630"
                             data-y="78"
                             data-customin="x:250;y:0;z:0;rotationZ:0;scaleX:1;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="400"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><img
                                src="/assets/front-end/images/slider/rev/shop/bag.png" alt="Bag"></div>

                        <!-- LAYER NR. 2 -->
                        <div class="tp-caption customin ltl tp-resizeme revo-slider-caps-text uppercase"
                             data-x="0"
                             data-y="110"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1000"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333;">Buy Stylish Bags at Discounted Prices
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-emphasis-text nopadding noborder"
                             data-x="0"
                             data-y="140"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1200"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=" color: #333; line-height: 1.15;">Messenger Bags
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme revo-slider-desc-text tleft"
                             data-x="0"
                             data-y="240"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1400"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn"
                             style=" color: #333; max-width: 550px; white-space: normal;">Grantees insurmountable
                            challenges invest protect, growth improving quality social entrepreneurship.
                        </div>

                        <div class="tp-caption customin ltl tp-resizeme"
                             data-x="0"
                             data-y="340"
                             data-customin="x:0;y:150;z:0;rotationZ:0;scaleX:1.3;scaleY:1;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="700"
                             data-start="1550"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><a th:href="@{/shop}"
                                                                        class="button button-border button-large button-rounded tright nomargin"><span>Start Shopping</span>
                            <i class="icon-angle-right"></i></a></div>

                        <div class="tp-caption customin utb tp-resizeme revo-slider-caps-text uppercase"
                             data-x="510"
                             data-y="0"
                             data-customin="x:0;y:-236;z:0;rotationZ:0;skewX:0;skewY:0;opacity:0;transformPerspective:200;transformOrigin:50% 0%;"
                             data-speed="600"
                             data-start="2100"
                             data-easing="easeOutQuad"
                             data-splitin="none"
                             data-splitout="none"
                             data-elementdelay="0.01"
                             data-endelementdelay="0.1"
                             data-endspeed="1000"
                             data-endeasing="Power4.easeIn" style=""><img
                                src="/assets/front-end/images/slider/rev/shop/tag.png" alt="Bag"></div>

                    </li>
                </ul>
            </div>
        </div>

        <!-- END REVOLUTION SLIDER -->

    </section>

    <!-- Content
    ============================================= -->
    <section id="content">
        <div class="content-wrap">
            <div class="container clearfix">
                <div class="col-md-8 nopadding">
                    <div class="col-md-6 noleftpadding bottommargin-sm">
                        <a href="#"><img src="/assets/front-end/images/shop/banners/2.jpg" alt="Image"></a>
                    </div>
                    <div class="col-md-6 noleftpadding bottommargin-sm">
                        <a href="#"><img src="/assets/front-end/images/shop/banners/8.jpg" alt="Image"></a>
                    </div>
                    <div class="clear"></div>
                    <div class="col-md-12 noleftpadding">
                        <a href="#"><img src="/assets/front-end/images/shop/banners/4.jpg" alt="Image"></a>
                    </div>
                </div>
                <div class="col-md-4 nopadding">
                    <a href="#"><img src="/assets/front-end/images/shop/banners/9.jpg" alt="Image"></a>
                </div>
                <div class="clear"></div>
                <div class="tabs topmargin-lg clearfix" id="tab-3">
                    <ul class="tab-nav clearfix">
                        <li><a href="#tabs-9">New Arrivals</a></li>
                        <li><a href="#tabs-10">Best sellers</a></li>
                        <li><a href="#tabs-11">You may like</a></li>
                    </ul>
                    <div class="tab-container">
                        <div class="tab-content clearfix" id="tabs-9">
                            <div class="shop clearfix">
                                <th:block th:each="product :${findTop4ByOrderByIdDesc}">
                                    <div class="product clearfix">
                                        <div class="product-image">
                                            <input type="hidden" id="idProduct" th:value="${product.id}">
                                            <a th:href="@{/index/quick-view/{id}(id = ${product.id})}">
                                                <div th:style="'background-image:url(' + ${product.image} + '); height: 270px;background-position: center;background-size: cover;'"
                                                     alt="Slim Fit Chinos">
                                                </div>
                                            </a>
                                            <div class="product-overlay">

                                                <a th:href="@{/cart/add/{id}/1(id = ${product.id})}" id="add-cart" type="submit" class="add-to-cart">
                                                    <i class="icon-shopping-cart">
                                                </i><span> Add to Cart</span></a>
<!--=======-->
<!--                                                <a th:href="@{/cart/add/{id}/1(id = ${product.id})}" id="add-cart" type="submit" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>-->
<!--&gt;>>>>>> 08061fd1eb15f65a67219f1a89ee9eaaf48aa2a2-->
                                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                                   class="item-quick-view"><i
                                                        class="icon-zoom-in2"></i><span> Quick View</span></a>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-title"><h3><a href="#" th:text="${product.nameProduct}"></a></h3>
                                            </div>
                                            <div class="product-price"><p th:text="${product.price} + ' $'"></p></div>
                                            <div class="product-rating">
                                                <th:block th:if="${product.rating == 1}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 2}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 3}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 4}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 5}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-10">
                            <div class="shop clearfix">
                                <th:block th:each="product :${findTop4ByOrderByRatingDesc}">
                                    <div class="product clearfix">
                                        <div class="product-image">
                                            <a th:href="@{/index/quick-view/{id}(id = ${product.id})}">
                                                <div th:style="'background-image:url(' + ${product.image} + '); height: 270px;background-position: center;background-size: cover;'"
                                                     alt="Slim Fit Chinos">
                                                </div>
                                            </a>
                                            <div class="product-overlay">
                                                <a th:href="@{/cart/add/{id}/1(id = ${product.id})}" class="add-to-cart"><i class="icon-shopping-cart"></i><span> Add to Cart</span></a>
                                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                                   class="item-quick-view"><i
                                                        class="icon-zoom-in2"></i><span> Quick View</span></a>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-title"><h3><a href="#"
                                                                              th:text="${product.nameProduct}"></a></h3>
                                            </div>
                                            <div class="product-price"><p th:text="${product.price} + ' $'"></p></div>
                                            <div class="product-rating">
                                                <th:block th:if="${product.rating == 1}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 2}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 3}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 4}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 5}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                        <div class="tab-content clearfix" id="tabs-11">
                            <div class="shop clearfix">
                                <th:block th:each="product :${findTop4ByDeletedIsFalseOrderByPriceAsc}">
                                    <div class="product clearfix">
                                        <div class="product-image">
                                            <a th:href="@{/index/quick-view/{id}(id = ${product.id})}" 4>
                                                <div th:style="'background-image:url(' + ${product.image} + '); height: 270px;background-position: center;background-size: cover;'"
                                                     alt="Slim Fit Chinos">
                                                </div>
                                            </a>
                                            <div class="product-overlay">

                                                <a th:href="@{/cart/add/{id}/1(id = ${product.id})}" class="add-to-cart">
                                                    <i class="icon-shopping-cart"></i><span> Add to Cart</span>
                                                </a>
                                                <a th:href="@{/index/quick-view/{id}(id = ${product.id})}"
                                                   class="item-quick-view"><i
                                                        class="icon-zoom-in2"></i><span> Quick View</span></a>
                                            </div>
                                        </div>
                                        <div class="product-desc">
                                            <div class="product-title"><h3><a href="#"
                                                                              th:text="${product.nameProduct}"></a></h3>
                                            </div>
                                            <div class="product-price"><p th:text="${product.price} + ' $'"></p></div>
                                            <div class="product-rating">
                                                <th:block th:if="${product.rating == 1}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 2}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 3}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 4}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star-empty"></i>
                                                </th:block>
                                                <th:block th:if="${product.rating == 5}">
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                    <i class="icon-star3"></i>
                                                </th:block>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="clear bottommargin-sm"></div>
                <div class="col_one_third">
                    <div class="fancy-title title-border">
                        <h4>About Us</h4>
                    </div>
                    <p>Jane Jacobs educate, leverage affiliate Martin Luther King Jr. agriculture conflict resolution
                        dignity. Cooperation international progress non-partisan lasting change meaningful.</p>
                </div>
                <div class="col_one_third subscribe-widget">
                    <div class="fancy-title title-border">
                        <h4>Subscribe for Offers</h4>
                    </div>
                    <p>Subscribe to Our Newsletter to get Important News, Amazing Offers &amp; Inside Scoops:</p>
                    <div class="widget-subscribe-form-result"></div>
                    <form id="widget-subscribe-form2" action="include/subscribe.php" role="form" method="post"
                          class="nobottommargin">
                        <div class="input-group divcenter">
                            <span class="input-group-addon"><i class="icon-email2"></i></span>
                            <input type="email" name="widget-subscribe-form-email" class="form-control required email"
                                   placeholder="Enter your Email">
                            <span class="input-group-btn">
									<button class="btn btn-default" type="submit">Subscribe</button>
								</span>
                        </div>
                    </form>
                </div>

                <div class="col_one_third col_last">
                    <div class="fancy-title title-border">
                        <h4>Connect with Us</h4>
                    </div>

                    <a href="#" class="social-icon si-facebook" data-toggle="tooltip" data-placement="top"
                       title="Facebook">
                        <i class="icon-facebook"></i>
                        <i class="icon-facebook"></i>
                    </a>

                    <a href="#" class="social-icon si-delicious" data-toggle="tooltip" data-placement="top"
                       title="Delicious">
                        <i class="icon-delicious"></i>
                        <i class="icon-delicious"></i>
                    </a>

                    <a href="#" class="social-icon si-paypal" data-toggle="tooltip" data-placement="top" title="PayPal">
                        <i class="icon-paypal"></i>
                        <i class="icon-paypal"></i>
                    </a>

                    <a href="#" class="social-icon si-flattr" data-toggle="tooltip" data-placement="top" title="Flattr">
                        <i class="icon-flattr"></i>
                        <i class="icon-flattr"></i>
                    </a>

                    <a href="#" class="social-icon si-android" data-toggle="tooltip" data-placement="top"
                       title="Android">
                        <i class="icon-android"></i>
                        <i class="icon-android"></i>
                    </a>

                    <a href="#" class="social-icon si-smashmag" data-toggle="tooltip" data-placement="top"
                       title="Smashing Magazine">
                        <i class="icon-smashmag"></i>
                        <i class="icon-smashmag"></i>
                    </a>

                    <a href="#" class="social-icon si-gplus" data-toggle="tooltip" data-placement="top" title="Google+">
                        <i class="icon-gplus"></i>
                        <i class="icon-gplus"></i>
                    </a>

                    <a href="#" class="social-icon si-wikipedia" data-toggle="tooltip" data-placement="top"
                       title="Wikipedia">
                        <i class="icon-wikipedia"></i>
                        <i class="icon-wikipedia"></i>
                    </a>

                    <a href="#" class="social-icon si-stumbleupon" data-toggle="tooltip" data-placement="top"
                       title="StumbleUpon">
                        <i class="icon-stumbleupon"></i>
                        <i class="icon-stumbleupon"></i>
                    </a>

                    <a href="#" class="social-icon si-foursquare" data-toggle="tooltip" data-placement="top"
                       title="FourSquare">
                        <i class="icon-foursquare"></i>
                        <i class="icon-foursquare"></i>
                    </a>

                    <a href="#" class="social-icon si-call" data-toggle="tooltip" data-placement="top" title="Call">
                        <i class="icon-call"></i>
                        <i class="icon-call"></i>
                    </a>

                    <a href="#" class="social-icon si-ninetyninedesigns" data-toggle="tooltip" data-placement="top"
                       title="Ninety Nine Design">
                        <i class="icon-ninetyninedesigns"></i>
                        <i class="icon-ninetyninedesigns"></i>
                    </a>

                    <a href="#" class="social-icon si-forrst" data-toggle="tooltip" data-placement="top" title="Forrst">
                        <i class="icon-forrst"></i>
                        <i class="icon-forrst"></i>
                    </a>

                    <a href="#" class="social-icon si-digg" data-toggle="tooltip" data-placement="top" title="Digg">
                        <i class="icon-digg"></i>
                        <i class="icon-digg"></i>
                    </a>
                </div>

                <div class="clear"></div>

                <div class="fancy-title title-border title-center topmargin-sm">
                    <h4>Popular Brands</h4>
                </div>

                <ul class="clients-grid grid-6 nobottommargin clearfix">
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/1.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/2.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/3.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/4.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/5.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/6.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/7.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/8.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/9.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/10.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/11.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/12.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/13.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/14.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/15.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/16.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/19.png" alt="Clients"></a></li>
                    <li><a href="#"><img src="/assets/front-end/images/clients/logo/18.png" alt="Clients"></a></li>
                </ul>

            </div>

            <div class="section nobottommargin">
                <div class="container clearfix">

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-thumbs-up2"></i>
                            </div>
                            <h3>100% Original</h3>
                            <p class="notopmargin">We guarantee you the sale of Original Brands.</p>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-credit-cards"></i>
                            </div>
                            <h3>Payment Options</h3>
                            <p class="notopmargin">We accept Visa, MasterCard and American Express.</p>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-truck2"></i>
                            </div>
                            <h3>Free Shipping</h3>
                            <p class="notopmargin">Free Delivery to 100+ Locations on orders above $40.</p>
                        </div>
                    </div>

                    <div class="col_one_fourth nobottommargin col_last">
                        <div class="feature-box fbox-plain fbox-dark fbox-small">
                            <div class="fbox-icon">
                                <i class="icon-undo"></i>
                            </div>
                            <h3>30-Days Returns</h3>
                            <p class="notopmargin">Return or exchange items purchased within 30 days.</p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="section notopborder nobottomborder nomargin nopadding nobg footer-stick">
                <div class="container clearfix">

                    <div class="col_half nobottommargin topmargin">
                        <img src="/assets/front-end/images/services/4.jpg" alt="Image" class="nobottommargin">
                    </div>

                    <div class="col_half subscribe-widget nobottommargin col_last">

                        <div class="heading-block topmargin-lg">
                            <h3><strong>GET 20% OFF*</strong></h3>
                            <span>Our App scales beautifully to different Devices.</span>
                        </div>

                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eveniet cumque, perferendis
                            accusamus porro illo exercitationem molestias.</p>

                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form3" action="include/subscribe.php" role="form" method="post"
                              class="nobottommargin">
                            <div class="input-group" style="max-width:400px;">
                                <span class="input-group-addon"><i class="icon-email2"></i></span>
                                <input type="email" name="widget-subscribe-form-email"
                                       class="form-control required email" placeholder="Enter your Email">
                                <span class="input-group-btn">
										<button class="btn btn-danger" type="submit">Subscribe Now</button>
									</span>
                            </div>
                        </form>

                    </div>

                </div>
            </div>

        </div>

    </section><!-- #content end -->

    <!-- Footer
    ============================================= -->
    <footer id="footer" class="dark">

        <div class="container">

            <!-- Footer Widgets
            ============================================= -->
            <div class="footer-widgets-wrap clearfix">

                <div class="col_two_third">

                    <div class="col_one_third">

                        <div class="widget clearfix">

                            <img src="/assets/front-end/images/footer-widget-logo.png" alt="" class="footer-logo">

                            <p>We believe in <strong>Simple</strong>, <strong>Creative</strong> &amp;
                                <strong>Flexible</strong> Design Standards.</p>

                            <div style="background: url('/assets/front-end/images/world-map.png') no-repeat center center; background-size: 100%;">
                                <address>
                                    <strong>Headquarters:</strong><br>
                                    795 Folsom Ave, Suite 600<br>
                                    San Francisco, CA 94107<br>
                                </address>
                                <abbr title="Phone Number"><strong>Phone:</strong></abbr> (91) 8547 632521<br>
                                <abbr title="Fax"><strong>Fax:</strong></abbr> (91) 11 4752 1433<br>
                                <abbr title="Email Address"><strong>Email:</strong></abbr> info@canvas.com
                            </div>

                        </div>

                    </div>

                    <div class="col_one_third">

                        <div class="widget widget_links clearfix">

                            <h4>Blogroll</h4>

                            <ul>
                                <li><a href="http://codex.wordpress.org/">Documentation</a></li>
                                <li><a href="http://wordpress.org/support/forum/requests-and-feedback">Feedback</a></li>
                                <li><a href="http://wordpress.org/extend/plugins/">Plugins</a></li>
                                <li><a href="http://wordpress.org/support/">Support Forums</a></li>
                                <li><a href="http://wordpress.org/extend/themes/">Themes</a></li>
                                <li><a href="http://wordpress.org/news/">WordPress Blog</a></li>
                                <li><a href="http://planet.wordpress.org/">WordPress Planet</a></li>
                            </ul>

                        </div>

                    </div>

                    <div class="col_one_third col_last">

                        <div class="widget clearfix">
                            <h4>Recent Posts</h4>

                            <div id="post-list-footer">
                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Lorem ipsum dolor sit amet, consectetur</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Elit Assumenda vel amet dolorum quasi</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="spost clearfix">
                                    <div class="entry-c">
                                        <div class="entry-title">
                                            <h4><a href="#">Debitis nihil placeat, illum est nisi</a></h4>
                                        </div>
                                        <ul class="entry-meta">
                                            <li>10th July 2014</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>

                <div class="col_one_third col_last">

                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        <div class="row">

                            <div class="col-md-6 bottommargin-sm">
                                <div class="counter counter-small"><span data-from="50" data-to="15065421"
                                                                         data-refresh-interval="80" data-speed="3000"
                                                                         data-comma="true"></span></div>
                                <h5 class="nobottommargin">Total Downloads</h5>
                            </div>

                            <div class="col-md-6 bottommargin-sm">
                                <div class="counter counter-small"><span data-from="100" data-to="18465"
                                                                         data-refresh-interval="50" data-speed="2000"
                                                                         data-comma="true"></span></div>
                                <h5 class="nobottommargin">Clients</h5>
                            </div>

                        </div>

                    </div>

                    <div class="widget subscribe-widget clearfix">
                        <h5><strong>Subscribe</strong> to Our Newsletter to get Important News, Amazing Offers &amp;
                            Inside Scoops:</h5>
                        <div class="widget-subscribe-form-result"></div>
                        <form id="widget-subscribe-form" action="include/subscribe.php" role="form" method="post"
                              class="nobottommargin">
                            <div class="input-group divcenter">
                                <span class="input-group-addon"><i class="icon-email2"></i></span>
                                <input type="email" id="widget-subscribe-form-email" name="widget-subscribe-form-email"
                                       class="form-control required email" placeholder="Enter your Email">
                                <span class="input-group-btn">
										<button class="btn btn-success" type="submit">Subscribe</button>
									</span>
                            </div>
                        </form>
                    </div>

                    <div class="widget clearfix" style="margin-bottom: -20px;">

                        <div class="row">

                            <div class="col-md-6 clearfix bottommargin-sm">
                                <a href="#" class="social-icon si-dark si-colored si-facebook nobottommargin"
                                   style="margin-right: 10px;">
                                    <i class="icon-facebook"></i>
                                    <i class="icon-facebook"></i>
                                </a>
                                <a href="#"><small style="display: block; margin-top: 3px;"><strong>Like us</strong><br>on
                                    Facebook</small></a>
                            </div>
                            <div class="col-md-6 clearfix">
                                <a href="#" class="social-icon si-dark si-colored si-rss nobottommargin"
                                   style="margin-right: 10px;">
                                    <i class="icon-rss"></i>
                                    <i class="icon-rss"></i>
                                </a>
                                <a href="#"><small
                                        style="display: block; margin-top: 3px;"><strong>Subscribe</strong><br>to RSS
                                    Feeds</small></a>
                            </div>

                        </div>

                    </div>

                </div>

            </div><!-- .footer-widgets-wrap end -->

        </div>

        <!-- Copyrights
        ============================================= -->
        <div id="copyrights">

            <div class="container clearfix">

                <div class="col_half">
                    Copyrights &copy; 2014 All Rights Reserved by Canvas Inc.<br>
                    <div class="copyright-links"><a href="#">Terms of Use</a> / <a href="#">Privacy Policy</a></div>
                </div>

                <div class="col_half col_last tright">
                    <div class="fright clearfix">
                        <a href="#" class="social-icon si-small si-borderless si-facebook">
                            <i class="icon-facebook"></i>
                            <i class="icon-facebook"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-twitter">
                            <i class="icon-twitter"></i>
                            <i class="icon-twitter"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-gplus">
                            <i class="icon-gplus"></i>
                            <i class="icon-gplus"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-pinterest">
                            <i class="icon-pinterest"></i>
                            <i class="icon-pinterest"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-vimeo">
                            <i class="icon-vimeo"></i>
                            <i class="icon-vimeo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-github">
                            <i class="icon-github"></i>
                            <i class="icon-github"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-yahoo">
                            <i class="icon-yahoo"></i>
                            <i class="icon-yahoo"></i>
                        </a>

                        <a href="#" class="social-icon si-small si-borderless si-linkedin">
                            <i class="icon-linkedin"></i>
                            <i class="icon-linkedin"></i>
                        </a>
                    </div>

                    <div class="clear"></div>

                    <i class="icon-envelope2"></i> info@canvas.com <span class="middot">&middot;</span> <i
                        class="icon-headphones"></i> +91-11-6541-6369 <span class="middot">&middot;</span> <i
                        class="icon-skype2"></i> CanvasOnSkype
                </div>

            </div>

        </div><!-- #copyrights end -->

    </footer><!-- #footer end -->

</div><!-- #wrapper end -->
<div class="row">
    <input type="hidden" th:value="${addMess}" id="addMess">
</div>
<!-- Go To Top
============================================= -->
<div id="gotoTop" class="icon-angle-up"></div>
<th:block th:replace="front-end/layout/link::scripts">
</th:block>
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function () {

        var apiRevoSlider = tpj('.tp-banner').show().revolution(
            {
                sliderType: "standard",
                jsFileLocation: "include/rs-plugin/js/",
                sliderLayout: "fullwidth",
                dottedOverlay: "none",
                delay: 9000,
                navigation: {},
                responsiveLevels: [1200, 992, 768, 480, 320],
                gridwidth: 1140,
                gridheight: 500,
                lazyType: "none",
                shadow: 0,
                spinner: "off",
                autoHeight: "off",
                disableProgressBar: "on",
                hideThumbsOnMobile: "off",
                hideSliderAtLimit: 0,
                hideCaptionAtLimit: 0,
                hideAllCaptionAtLilmit: 0,
                debugMode: false,
                fallbacks: {
                    simplifyAll: "off",
                    disableFocusListener: false,
                },
                navigation: {
                    keyboardNavigation: "off",
                    keyboard_direction: "horizontal",
                    mouseScrollNavigation: "off",
                    onHoverStop: "off",
                    touch: {
                        touchenabled: "on",
                        swipe_threshold: 75,
                        swipe_min_touches: 1,
                        swipe_direction: "horizontal",
                        drag_block_vertical: false
                    },
                    arrows: {
                        style: "ares",
                        enable: true,
                        hide_onmobile: false,
                        hide_onleave: false,
                        tmp: '<div class="tp-title-wrap">	<span class="tp-arr-titleholder">{{title}}</span> </div>',
                        left: {
                            h_align: "left",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        },
                        right: {
                            h_align: "right",
                            v_align: "center",
                            h_offset: 10,
                            v_offset: 0
                        }
                    }
                }
            });
        apiRevoSlider.bind("revolution.slide.onloaded", function (e) {
            SEMICOLON.slider.sliderParallaxDimensions();
        });
    }); //ready



</script>
<script>
    const addMess = document.getElementById("addMess").value;
    if(addMess != ""){
        toastr.success(addMess, 'addMess');
    }
</script>

</body>
</html>